@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media screen and (max-height: 625px) {
    
    #sidebar #pt1 {
        margin-bottom: 0;
    }
    
    #sidebar #pt2 {
        margin-top: 0;
    }

    #sidebar ul {
        margin-top: 10px;
    }
    #sidebar li {
        height: 40px;
    }
}

@media screen and (max-width: 1250px) {
    #rest #greeting h1 {
        font-size: max(17px, calc(5px + calc(2vw - 10px)));
    }
}

::-webkit-scrollbar {
    width: 0;
    height:0;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(206, 206, 206);
    overflow-x: auto;
    
}

p {
    color: rgb(97, 97, 97);
}

#wrapper {
    width: 100%;
    height: 100%;
    
    display:flex;
}


#sidebar {
    
    min-width: 260px;
    width: 20%;
    max-width: 300px;
    background-color: rgb(0, 135, 189);
    overflow-y: auto;
}

#sidebar img {
    margin-right: 10px;
    margin-left: 15px;
}

#sidebar #logo {
    display: flex;
    color: white;
    font-size: 16px;
}

#pt1 {
    margin-top: 35px;
    margin-bottom: 30px;
}

#pt2 {
    margin-bottom: 0;
}

#sidebar #logo img {
    width: 60px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar li {
    display: flex;
    color: white;
    font-size: 12px;
}

#sidebar ul img {
    width: 25px;
    margin-left: 30px;
    margin-right: 28px;
}

#rest {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: white;
    height: 170px;
    display: grid;
    grid-template-columns: 1fr 470px;
    grid-template-rows: 45% 55%;
}

.smallericon {
    height: 45%;
}

#searchbar {
    padding: 10px 0 10px 55px;
    gap: 15px;
    display: flex;
    align-items: center;
}

#searchbar input {
    flex: 1;
    margin-right: 20%;
    
    border: 0;
    background-color: rgb(178, 184, 190);
    border-radius: 15px;
    height: 60%;
    padding-left: 1%;
}

#topright {
    display: flex;
    align-items: center;
    gap: 45px;
}


#topright .smallericon {
    margin-left: 20px;
}

#biggericon {
    height: 70%;
}

.pfp {
    border-radius: 50%;
}

#greeting {
    display: flex;
    align-items: center;
    padding-left: 55px;
    gap: 25px;
    height: 80%;
}

#greeting div {
    flex: 1;
}

#greeting .pfp {
    height: 80%;
}

#greeting h1, #greeting h5 {
    margin: 0;
}

#greeting h5 {
    font-size: 14px;
    margin-bottom: 6px;
}

#greeting h1 {
    font-size: 28px;
    white-space: nowrap;
    margin-right: 10px;
}

#header > ul {
    padding: 0;
    
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    
}

#header > ul button {
    border: 0;
    border-radius: 30px;
    color: white;
    background-color: rgb(0,135,189);
    font-size: 20px;
    padding: 10px 40px;
}

#content {
    display: flex;
    overflow-y: auto;
    scroll-margin-bottom: 200px;
    
}

#maincontent {
    margin: 0 20px 20px 20px;
    flex: 1;
    overflow-y: auto;
    
}

#maingrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-template-rows: repeat(3, 250px);
    gap: 30px;
}

#maingrid > div {
    background-color: white;
    border-left: 15px solid orange;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 20px 20px;
}

#maingrid h3, #maingrid p {
    margin: 0;
}

#maingrid h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

#maingrid p {
    font-size: 18px;
}

#cardicons {
    height: 15%;
    margin-top: auto;
    margin-right: 15px;
    align-self: flex-end;
    display: flex;
    gap: 25px;
}

#cardicons img {
    height: 100%;
}




#sidecontent {
    width: 400px;
    margin-right: 25px;
    overflow-y: auto;
}

#sidecontent h2 {
    margin-bottom: 10px;
    
}

#sidecontent ul {
    background-color: white;
    border-radius: 15px;
    list-style: none;
    padding: 20px 40px;
    margin: 0;
    overflow-y: auto;
}

#sidecontent p {
    margin-top: 0;
    font-size: 14px;
    
}


#announcements ul {
    height: 300px;
}
#announcements #mid {
    border-top: gray 2px solid;
    border-bottom: gray 2px solid;
}

#announcements h3 {
    margin-bottom: 10px;
}

#announcements li {
    padding: 0 10px;
    
    
}


#trending {
    margin-bottom: 20px;
}

#trending li {
    display: flex;
    height: 65px;
    align-items: center;
    gap: 20px;
}

#trending li div {
    display: flex;
    flex-direction: column;
}

#trending h4 {
    margin-bottom: 5px;
    margin-top: 0;
}

#trending p {
    margin: 0;
}

#trending img {
    height: 70%;
}